*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  background-color: #08AEEA;
  background-image: linear-gradient(to right, #08AEEA 0%, #2AF598 100%)!important;
  border: 0!important;

}
