/* You can add global styles to this file, and also import other style files */
@import url('~primeicons/primeicons.css');
@import url('~primeng/resources/themes/saga-blue/theme.css');
@import url('~primeng/resources/primeng.min.css');
@import url('~primeflex/primeflex.css');
